@import "vars";

.btn-ml {
    background-color: $primary-btn;
    font-size: 24px;
    font-weight: 500;
    $px: 50px;
    padding-right: $px;
    padding-left: $px;
    margin: 0 auto;
    &, &:hover {
        color: #fff;
    }
    &:hover {
        background-color: lighten($primary-btn, 10%);
    }
}
