#dashboard-header {
    .dropdown-menu {
        left: initial;
        right: calc(100% - 60px);
    }
}
#bt-sidebar {
    max-width: 60px;
    min-height: calc(100vh - 56px); // full height - header height
}
